.error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
  margin: 0 auto;
  color: var(--color-error);
  background-color: var(--bg-error);
  position: relative;
  max-width: 768px;
}

.error-spinner {
  position: absolute;
  display: inline-block;
  width: 10%;
  height: 11%;
  margin-top: 1rem;
  border: 10px solid rgba(0, 0, 0, 0.1);
  border-left-color: var(--border-color-error);
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

img {
  width: 100%;
  object-fit: cover;
}