.gif {
  position: relative;
  min-width: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  transition: all .4s ease-in-out;
  overflow: hidden;
  /* grid-template-rows: masonry; */
}

.gif:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.gif video {
  object-fit: cover;
  object-position: center;
  width: 325px;
  transition: all .3s ease-in-out;
}

.gif:hover video {
  transform: scale(1.2);
}

.gif p {
  min-height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 4px;
  color: #eee;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all .4s ease;
  text-transform: capitalize;
  background: linear-gradient(to top, #747bff85 0%, #747bff00 100%);
}

.gif:hover p {
  filter: brightness(1);
  background: linear-gradient(to top, #747bff 0%, #747bffdc 100%);
}

.gif>.icon-open {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 4px;
  z-index: 2;
  width: 32px;
  height: 32px;
  transition: all .3s ease-in-out;
}

.gif:hover .icon-open {
  display: block;
}
.icon-open path{
  transition: all .3s ease-in-out;
}
.icon-open:hover path{
  stroke: white;
  transform: scale(1.05);
  fill: rgb(180, 61, 14);
}

@media (max-width: 428px) {
  .gif {
    width: 250px;
  }

  .gif video {
    object-fit: cover;
    height: 250px;
  }

}

.gif-detail {
  width: 100%;
  margin: 0 auto;
}

.title-detail {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 2rem;
}

.video-container:hover {
  cursor: pointer;
}

.video-detail {
  width: 90%;
  margin: auto;
  height: 550px;
  object-fit: contain;
  object-position: center;
}
