#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 2rem;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1.logo {
  width: fit-content;
  border-bottom: 2px solid transparent;
  margin: auto;
  font-weight: 800;
  color: #eee;
}

h1.logo:hover {
  cursor: pointer;
  border-bottom: 2px dashed #535bf2;
  color: #535bf2;
}

.logo-container {
  max-width: fit-content;
  display: flex;
  align-items: center;
  column-gap: 15px;
  margin: auto;
}

.logo-container img {
  width: 32px;
  height: 32px;
  animation: infinite App-logo-spin;
}

.App-content {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.App-content:last-child {
  margin-top: 10px;
}

button a {
  color: #eee;
}
a {
  text-decoration: none;
  color: #747bff;
}

button:focus,
button:focus-visible {
  outline: 1px dashed white;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
@media (max-width: 428px) {
  #root {
    width: 100%;
    padding: 1rem;
  }
}
@media (max-width: 768px) {
  #root {
    width: 100%;
    padding: .5rem;
  }
}
@media (max-width: 885px) {
  #root {
    padding: 1rem;
    width: 100%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
